:root{
    --background: #e5faf5;
}

* {
    background-color: var(--background);
    scroll-behavior: smooth;
    margin: 0;
}

main{
    margin-top: 70px;
}

section{
    margin: 0px 50px;
}

h1, h2, h3{
    font-family: cursive;
}

.sectionHeading{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: solid #000;
    border-width: 0 0 2px;
}

/* NavBar */
.header{
    border-bottom: 1px solid;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo{
    display: flex;
    height: 60px;
    padding: 5px 0;
}

.navButtons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.navButtons li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

.navButtons a{
    text-decoration: none;
}



/* Banner */
#banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 600px;
    margin: 0px auto;
    position: relative;
}

#bannerHeading{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: white;
    font-size: 35px;
    text-align: center;
}




/* Services */
#services{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 3fr 3fr 3fr;
    grid-gap: 1em;
    grid-template-areas: 
    "serviceHeading serviceHeading serviceHeading serviceHeading"
    "design design design creation"
    "design design design maintenance"
    "insideP insideP outsideP outsideP";
    border-radius: 25px;
}

#servicesHeading{
    grid-area: serviceHeading;
}

#designArt{
    grid-area: design;
    background-image: url(../images/landscape2.jpg);
}

#creationArt{
    grid-area: creation;
    background-image: url(../images/planting.jpg);
}

#maintenanceArt{
    grid-area: maintenance;
    background-image: url(../images/maintenance.jpg);
}

#indoorPlantsArt{
    grid-area: insideP;
    background-image: url(../images/indoorPlant.jpg);
}

#outdoorPlantsArt{
    grid-area: outsideP;
    background-image: url(../images/outdoorPlant.jpg);
    background-position: center;
}

.service{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    transition: transform .3s;
}

.service:hover{
    transform:scale(1.01);
}

.service a{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}

.service:hover a{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: none;
}

.service h3{
    background: none;
}



/* About us */

#aboutUs{
    display: grid;
    grid-template-columns: 1fr 10vh 1fr;
    grid-template-rows: 100px 4fr;
    grid-gap: 1em;
    grid-template-areas: 
    "aboutHeading aboutHeading aboutHeading"
    "about1 . about2";
}

#aboutHeading{
    grid-area: aboutHeading;
}

#about1{
    grid-area: about1;
}

#about2{
    grid-area: about2;
}



/* Contact Us */
#contactUs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 2fr 2fr;
    grid-gap: 1em;
    grid-template-areas: 
    "contactHeading"
    "contactPara"
    "contactList";
}

#contactHeading{
    grid-area: contactHeading;
}

#contactPara{
    grid-area: contactPara;
    display: flex;
    justify-content: center;
}

#contactList{
    grid-area: contactList;
    display: flex;
    justify-content: center;
}

.contactList li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}



/* Footer */
#footerIconEl{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#footerLogo{
    height: 100px;
}

#copyright{
    padding: 25px;
    text-align: center;
    font-size: 10px;
}